.chatListItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 70px;
}
.chatListItem:hover {
  background-color: #eaeaea;
}
.chatListItem.active {
  background-color: #ebebeb;
}
.chatListItem--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}
.chatListItem--lines {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-right: 15px;
  margin-left: 15px;

  flex-wrap: wrap;
  min-width: 0;
}
.chatListItem--line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.chatlist--name {
  font-size: 17px;
  color: #000;
}
.chatlist--date {
  font-size: 12px;
  color: #999;
}
.chatlist--lastMsg {
  font-size: 17px;
  color: #999;
  display: flex;
  width: 100%;
}
.chatlist--lastMsg p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
